# Python virtual environment
venv/
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter notebooks checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# Mac OS
.DS_Store

# Logs
*.log

# Docker
*.pid
*.sock
docker-data/
